*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color:#469165 ;
    padding:12px 16px ;
    border-radius:5px ;
    font-size:16px ;
    font-weight:600 ;
    color:#FFFFFF ;
    border:none ;
}
.btn2{
    background-color:#b8bab900;
    padding:12px 16px ;
    border-radius:5px ;
    font-size:16px ;
    font-weight:600 ;
    color:#FFFFFF ;
    border:1px solid white;
}

/* style header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}

nav ul{
    display: flex;
    gap: 25px;

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
/* style hero section */
#hero{
    background: url(../image/cropped-hands-woman-writing-book\ 1.png);
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   text-align: center;

}
 #hero .hero-content{
    padding:115px  120px 180px 120px ;
}
 #hero .secondary-btn{
    border-radius:20px ;
     padding: 8px 12px;
     background-color:white ;
     color:#469165 ;
     border: none;
      font-size: 16px;
    font-weight: 500;

}
#hero .hero-heading{
    padding-top: 15px;
    font-size:70px ;
    font-weight:700 ;
    line-height: 80px;
    color: white;
}
#hero .hero-heading span{
    color: #30B868;
}
#hero .hero-description{
    padding-top: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
#hero .hero-btn{

    padding-top: 16px;

}

/* style notes section */
#notes .notes-heading{
  font-size:48px ;
  font-weight:700 ;
  color:#001931 ;

}
#notes .notes-p{
    padding-top: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#notes{
padding-top: 50px;
text-align: center;

}
/* style card section */


#card-section .card{
    width: 300px;
    padding: 45px 20px 30px 20px ;
    border-radius: 8px;
    box-shadow: 0px 0px 8px  rgba(0, 0, 0, 0.06);
}
#card-section .card img{
   background-color:#F95555 ;
   border-radius:50% ;
   padding: 15px;
}

#card-section .card h3{
font-size:24px ;
font-weight:600 ;
color: #001931;
}

#card-section .card p{
padding-top:10px ;
font-size:15px ;
line-height: 20px;
color:#627382 ;
}

#card-section .card-container{
    display: flex;
    justify-content: space-between;
   text-align: center;

}
#card-section{
    padding:50px 120px   0px;
}

/* style second-brain */
#second-brain{
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 120px;

}
#second-brain .second-brain-content h4{
 font-size:16px ;
 font-weight:500 ;
 color:#469165 ;
}
#second-brain .second-brain-content h2{
font-size:48px ;
 font-weight:700 ;
 color:#001931 ;
 padding-top:10px ;
}
#second-brain .second-brain-content p{
padding:10px  0px;
font-size:15px ;
line-height:20px;
color:#627382 ;
}
#second-brain .second-brain-content .check{

    color: wheat;
    padding: 5px;
  background-color:#30B868 ;
  border-radius: 50%;
}
#second-brain .second-brain-content .second-brain-list p{
    font-size:16px ;
    font-weight:500 ;
    color:#001931 ;
}

/* style Ready section */

#ready{
 margin: 0 120px 120px 120px;
 padding:80px ;
 background-color:#F7F6F2 ;
 border-radius: 5px;
text-align: center;
align-items: center;
}
#ready h3{
font-size:40px ;
font-weight:700 ;
color:#001931 ;
 
}
#ready p{
padding: 10px 0;
font-size:16px ;
line-height:20px;
color:#627382 ;
}
/* style footer */

footer{
    background-color:#001931 ;
    padding:120px 120px 80px 120px ;
   

}
footer .footer-content{
display: flex;
justify-content: space-between;

}

footer h4{
    font-size:20px ;
    font-weight: 600;
    list-style:28px ;
    color:#FAFAFA ;
    padding-bottom: 10px;
}

footer .social-icon{
    background-color:#FAFAFA ;
    color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .social-icon-box{
    display: flex;
   gap: 10px;
}
footer p{
     text-align: center;
    padding-top: 80px;
    font-size:16px ;
   line-height: 24px;
    color:#FAFAFA ;
}