*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color:#469165 ;
    padding:12px 16px ;
    border-radius:5px ;
    font-size:16px ;
    font-weight:600 ;
    color:#FFFFFF ;
    border:none ;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}

nav ul{
    display: flex;
    gap: 25px;

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
